body {
	background: black;
}

* {
	border: 0px dashed red;
	min-height: 10px;
}

p {
	color: black;
}

.postcard {
	width: 400px;
	height: 300px;
	margin: auto;
	background: white;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 400px;
	margin: auto;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: none;
}

.body-left,
.body-right {
	padding: 0.5%;
}

input {
	border: none;
	border-bottom: 2px solid grey;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: darkgrey;
	padding: 2px;
}
